{% extends "settings/layout.html" %}
{%- block body_js_bottom %}
    <script type="text/javascript">
     $( "#nav-profile" ).addClass("active");
    </script>
{%- endblock body_js_bottom %}
{%- block settings_body %}
    <div class="span7">
    <form class="form-horizontal profile-form" autocomplete="off">
     <fieldset>
      <legend>Edit Profile</legend>
      <div class="control-group">
       <label class="control-label" for="first_name">First Name</label>
       <div class="controls">
        <input id="first_name" type="text" placeholder="First Name" value="{{user.first_name|default("")}}">
       </div>
      </div>
      <div class="control-group">
       <label class="control-label" for="last_name">Last Name</label>
       <div class="controls">
        <input id="last_name" type="text" placeholder="Last Name" value="{{user.last_name|default("")}}">
       </div>
      </div>
      <div class="control-group">
       <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button></legend>
       </div>
      </div>
     </fieldset>
    </form>
    </div>
{%- endblock settings_body %}
